@model IEnumerable<WebApplication1.Models.Pessoa>

@{
    ViewBag.Title = "Agenda";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")

    @using (Html.BeginForm("Index","Pessoas",FormMethod.Get))
    {
      <p>
        Nome: @Html.TextBox("SearchString")
        <input type="submit" value="Filtrar" />
      </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
